<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.project.mapper.PostMapper">
    <resultMap  id="postResultMap" type="com.korit.project.entity.Post">
        <id property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
    </resultMap>

    <select id="selectAll" resultMap="postResultMap">
        select
            *
        from
            post_tb
    </select>



    <insert id ="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into post_tb
        values(default, #{userId}, #{title}, #{content}, #{createdAt}, #{updatedAt})
    </insert>


</mapper>